* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
}
.menu {
  display: block;
  width: 30%;
}
.menu a {
  text-decoration: none;
  list-style: none;
  color: #000 !important;
}
.menu p {
  min-height: 2.5em;
  vertical-align: middle;
  padding: 10px 0px 0px 20px;
  margin-bottom: 10px;
  height: 30px;
  width: 22em;
  font-size: 17px;
}

.menu #param {
  background-color: lightgrey;
}

.menu p:hover {
  background-color: lightgrey;
  color: #ffffff;
  transition: 0.7s;
}

.view {
  margin: 10px 20px 20px;
}
#paramZ {
  font-size: 20px;
}
#dopU {
  font-size: 20px;
  margin-bottom: 10px;
}
.paramZ > div {
  float: left;
  width: 42%;
  margin-right: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.paramZ input {
  height: 25px;
  width: 400px;
}
#cancel {
  height: 30px;
  width: 80px;
  float: left;
  background-color: red;
  color: white;
  border-radius: 10px;
}

#next {
  height: 30px;
  width: 80px;
  float: right;
  background-color: lightskyblue;
  color: white;
  border-radius: 10px;
}

.kredit > div {
  float: left;
  width: 43%;
  margin-right: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sumDop input {
  width: 330px;
  height: 25px;
}
select {
  width: 100px;
  height: 25px;
}
#scales{
  margin: 10px;
}
.inf{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}